@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    background-color: rgb(1, 3, 17);
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(https://images-assets.nasa.gov/image/PIA12066/PIA12066~orig.jpg);
    width: 100vw;
    height: 100vh;
}

/* header and sub-header */

.header {
    width: 80vw;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    color: #e79927;
}

/* modal styling */

#info {
    border: 2px solid #FFE81F;
    border-radius: 15px;
    text-align: center;
    width: 50%;
    padding: 2%;
    margin: auto;
    font-weight: 100;
}

#info::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

#hide-info {
    font-size: 0.8rem;
    padding: 1.2rem;
    margin: 1.2rem;
    border-radius: 100%;
    background-color: #334e30;
}

/* game outer wrapper */

.main-content {
    padding: 0.5rem;
    border: 2px solid #FFE81F;
    width: 80vw;
    margin: 10vh auto;
    text-align: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-wrapper {
    display: flex;
}

/* all buttons */

.buttons {
    background-color: #334e30;
    border-radius: 10px;
    margin: 1rem;
    width: 15rem;
    height: 3rem;
}

/* score panel */

.score-wrapper {
    border: #e79927 solid 1px;
}

footer {
    margin: 1rem 0 0;
    padding: 0.8rem;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer a {
    color: #e79927;
    text-decoration: none;
}

.buttons:hover {
    background-color: #83b97d;
}

/* media queries tablet size and up */

@media only screen and (min-width:820px) {
    html {
        font-size: 18px;
    }

    .main-content {
        max-width: 50vw;
    }
}